{
    "timeout": 10,
    "source": {
        "directories": [
            "."
        ],
        "exclude": [
            "Tests",
            "vendor"
        ]
    },
    "logs": {
        "text": "build/infection-log.txt"
    }
}