includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    level: 6
    paths:
        - .
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - vendor/

