includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    autoload_files:
        - vendor/autoload.php
    excludes_analyse:
        - vendor/

        # Propel stuff seems broken as-is, ignoring for now
        - Propel/
        - Tests/Propel/
    ignoreErrors:
        # how to avoid excluding these?
        - '#Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::scalarNode()#'
        - '#Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface::end()#'
        # expected
        - '#Parameter \#2 $requestStack of class FOS\OAuthServerBundle\Form\Handler\AuthorizeFormHandler constructor expects Symfony\Component\HttpFoundation\Request|Symfony\Component\HttpFoundation\RequestStack|null, stdClass given.#'
