<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="FOSOAuthServerBundle Test Suite">
            <directory suffix="Test.php">Tests/Command</directory>
            <directory suffix="Test.php">Tests/Controller</directory>
            <directory suffix="Test.php">Tests/DependencyInjection</directory>
            <directory suffix="Test.php">Tests/Document</directory>
            <directory suffix="Test.php">Tests/Entity</directory>
            <directory suffix="Test.php">Tests/Form</directory>
            <directory suffix="Test.php">Tests/Functional</directory>
            <directory suffix="Test.php">Tests/Model</directory>
            <directory suffix="Test.php">Tests/Security</directory>
            <directory suffix="Test.php">Tests/Storage</directory>
            <directory suffix="Test.php">Tests/Util</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <file>./Propel/AccessToken.php</file>
                <file>./Propel/AccessTokenQuery.php</file>
                <file>./Propel/RefreshToken.php</file>
                <file>./Propel/RefreshTokenQuery.php</file>
                <directory suffix="Peer.php">./Propel</directory>
                <directory>./Propel/map</directory>
                <directory>./Propel/om</directory>
            </exclude>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
</phpunit>
