<?php

$vendorDir = __DIR__.'/../../../..';
require_once $vendorDir.'/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'Symfony'                => array($vendorDir.'/symfony/src', $vendorDir.'/bundles'),
    'Alb'                    => $vendorDir.'/bundles',
    'OAuth2'                 => $vendorDir.'/oauth2-php/lib',
    'Doctrine\Common'        => $vendorDir.'/doctrine-common/lib',
    'Doctrine\DBAL'          => $vendorDir.'/doctrine-dbal/lib',
    'Doctrine\ORM'           => $vendorDir.'/doctrine/lib',
));
$loader->register();
